@using SmartManager.Models.Groups;
@model IQueryable<Group>

@{
    ViewData["Title"] = "ShowGroups";
}

<style>
    .table th {
        white-space: nowrap;
    }

        .table th:nth-child(1),
        .table td:nth-child(1) {
            width: 1%;
        }

        .table th:nth-child(2),
        .table td:nth-child(2) {
            width: 40%;
        }

        .table th:nth-child(3),
        .table td:nth-child(3) {
            width: 1%;
        }

    .button-container {
        display: flex;
        align-items: center;
    }

    .action-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: -10px;
    }

        .action-buttons .btn {
            margin-left: 14px; 
            font-size: 14px;
            padding: 0.25rem 0.5rem;
        }

            .action-buttons .btn i {
                margin-right: 5px;
            }
</style>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Group List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Group" asp-action="PostGroup" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add New Group
            </a>
        </div>
    </div>
    <br />

    <div class="row pt-3">
        <div class="col-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Search">
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-12">
            <p>Total Groups: @Model.Count()</p>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Group Name</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {
                    <tr class="searchable-row">
                        <th scope="row">@i</th>
                        <td>@item.GroupName</td>
                        <td>
                            <div class="button-container">
                                <div class="action-buttons">
                                    <a asp-controller="Applicant" asp-route-groupId="@item.GroupId" asp-action="ShowApplicantWithGroup" class="btn btn-primary btn-sm">
                                        <i class="bi bi-opencollective" alt="Open Collective Icon"></i> Applicants
                                    </a>
                                </div>
                                <div class="action-buttons">
                                    <a asp-controller="Group" asp-route-groupId="@item.GroupId" asp-action="PutGroup" class="btn btn-primary btn-sm">
                                        <i class="bi bi-pencil"></i> Edit
                                    </a>
                                    <a asp-route-groupId="@item.GroupId" asp-action="DeleteGroup" class="btn btn-danger btn-sm">
                                        <i class="bi bi-x-lg"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".searchable-row").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>
