@using SmartManager.Models.Groups;
@model IQueryable<Group>

@{
    ViewData["Title"] = "ShowGroups";
}

<style>
    .table th {
        white-space: nowrap;
    }

        .table th:nth-child(1),
        .table td:nth-child(1) {
            width: 1%;
        }

        .table th:nth-child(2),
        .table td:nth-child(2) {
            width: 40%;
        }

        .table th:nth-child(3),
        .table td:nth-child(3) {
            width: 1%;
        }

    .btn-small .bi {
        font-size: 14px;
    }

    .button-container {
        display: flex;
        align-items: center;
    }
</style>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Group List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Group" asp-action="PostGroup" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add New Group
            </a>
        </div>
    </div>
    <br />

    <div class="row pt-3">
        <div class="col-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Search">
        </div>
    </div>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Group Name</th>
                <th scope="col">Applicants</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {
                    <tr class="searchable-row">
                        <th scope="row">@i</th>
                        <td>@item.GroupName</td>
                        <td>
                            <div class="button-container">
                                <a asp-controller="Applicant" asp-route-groupId="@item.GroupId" asp-action="ShowApplicantWithGroup" class="btn btn-primary small-button btn-small">
                                    <i class="bi bi-opencollective" alt="Open Collective Icon"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="button-container">
                                <a asp-controller="Group" asp-route-groupId="@item.GroupId" asp-action="PutGroup" class="btn btn-primary small-button btn-small">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="button-container">
                                <a asp-route-groupId="@item.GroupId" asp-action="DeleteGroup" class="btn btn-danger small-button">
                                    <i class="bi bi-trash3-fill"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".searchable-row").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>
